
@{
    ViewBag.Title = "Finance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Finance</h2>

<div class="row">
    <div class="logo-header">
        <a href="/vendor-info-step-1">
            <img src="/assets/images/step-logo.png" alt="">
        </a>
    </div>
</div>
<!-- ================== HEADER LOGO END ================== -->
<!-- ================== BANNER START ================== -->
<div class="row">
    <div class="banner-bg"></div>
</div>
<!-- ================== BANNER END ================== -->
<!-- ================== VENDOR INFO BLOCK START ================== -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="vendor-info-block">
                <div class="row m-0">
                    <div class="col-sm-4 p-0 sm-width-100">
                        <div class="left-panel">
                            <div class="step-block completed active">
                                <p class="step-circle">1</p>
                                <div class="step-content">
                                    <h2>Vendor information</h2>
                                    <p>Vendor name,  contact name & more</p>
                                </div>
                            </div>
                            <div class="step-block active completed">
                                <p class="step-circle">2</p>
                                <div class="step-content">
                                    <h2>Further Information</h2>
                                    <p>Display contract, allow for printing & more</p>
                                </div>
                            </div>
                            <div class="step-block active">
                                <p class="step-circle">3</p>
                                <div class="step-content">
                                    <h2>Finance </h2>
                                    <p>Further information & more</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 p-0 sm-width-100">
                        <div class="right-panel">
                            <h1>Finance</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                            <hr>
                            <div class="col-md-12 p-0 text-right">
                                <button type="button" class="btn btn-primary">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
   