
@{
    ViewBag.Title = "ANC Vendor Connect - Finance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="logo-header">
        <a href="/vendor-info-step-1">
            <img src="/assets/images/step-logo.png" alt="">
        </a>
    </div>
</div>
<!-- ================== HEADER LOGO END ================== -->
<!-- ================== BANNER START ================== -->
<div class="row">
    <div class="banner-bg"></div>
</div>
<!-- ================== BANNER END ================== -->
<!-- ================== VENDOR INFO BLOCK START ================== -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="vendor-info-block">
                <div class="row m-0">
                    <div class="col-sm-4 p-0 sm-width-100">
                        <div class="left-panel">
                            <div class="step-block completed active">
                                <p class="step-circle">1</p>
                                <div class="step-content">
                                    <h2>Vendor information</h2>
                                    <p>Vendor name,  contact name & more</p>
                                </div>
                            </div>
                            <div class="step-block active completed">
                                <p class="step-circle">2</p>
                                <div class="step-content">
                                    <h2>Further Information</h2>
                                    <p>Display contract, allow for printing & more</p>
                                </div>
                            </div>
                            <div class="step-block active">
                                <p class="step-circle">3</p>
                                <div class="step-content">
                                    <h2>Finance </h2>
                                    <p>Further information & more</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 p-0 sm-width-100">
                        <div class="right-panel">
                            <h1>Finance Page (final registration page)</h1>
                            <p><h6><b>Congratulations! You have completed the first stage of the Vendor Connect Registration process with ANC!</b></h6></p>
                            <p> <h6><b>Here is what is next</b></h6></p>

                            <p>The ANC Finance team will be contacting you to gather banking information as well as your company W-9.  Please respond timely to their requests.  You will NOT be allowed to the next section of the vendor portal until you have received finance approval.</b></p>
                            <p> If have any questions you can email: VendorConnect@anc365.com</p>
                            <p>After Finance, approval is in place please return to the vendor portal to manage your account.  This will include:</p>
                            <ul>
                                <li>Downloading key forms</li>
                                <li>UPC Management</li>
                                <li>Receive your payment</li>
                                <li>Sales reports</li>
                            </ul>
                            
                            <hr>
                            <div class="col-md-12 p-0 text-right">
                                <button type="button" class="btn btn-primary">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
    </div>