 
@{
    ViewBag.Title = "Eror 407";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 

    Html.RenderPartial("_PartialViewHeader");
}
<br />
<br />

<br />

<br /> <center>
           <br />
           <br />

           <br /><br />
<br />

<br />
    <img src="https://cdn3.iconfinder.com/data/icons/basicolor-signs-warnings/24/182_warning_notice_error-128.png" />
           <br /><br />
    <h2>Error 407</h2>
    <P>You are temporarily blocked from our system, retry after an hour</P>

</center>
