
@{
    ViewBag.Title = "UserRegion";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h6 id="currentip" hidden>@ViewBag.currentip </h6>

<h2>Is It You Kindly Verify your Idenfication..</h2>
<span>Current IP  <h6 id="currentIp"></h6></span>
Country  <h6 id="currentcountry"></h6>
State  <h6 id="currentstate"></h6>
City  <h6 id="currentcity"></h6>

<br />
Send me a verfication link <input type="button" id="btnsend" value="Send" />


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/PageJS/UserRegion.js"></script>


