
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoAcces</title>
</head>
<body>

    <table width="100%">
        <tbody>
            <tr>
                <td colspan="2" style="font-family:Trebuchet MS;font-weight:bold;color:white" bgcolor="red" align="center">
                    Access has been denied

                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br /><br />


    <center>
        <font face="Helvetica">
            The access to requested URL has been denied.
        </font>
    </center>


    <font face="Helvetica">
        <br><br>
        <p id="urlp">
        </p>
    </font>



    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


</body>
</html>
